# -----------------------------------------------------
#  YOU must restart db-mqtt-bridge.py to affect changes
# -----------------------------------------------------

[Mqtt]
host = techfit.at
port = 8883
username = mksp
password = mksp
root = mksp
tls = True
subscription = ["mksp/#"]

[Database]
host = localhost
port = 3306
database = makerspace
user = mksp
password =mksp

